[submodule "validationnode/src/common"]
	path = validationnode/src/common
	url = https://github.com/VeChainDEXCode/Vechain-Asset-Bridge-Common.git
	branch = master
[submodule "bridgeTools/src/common"]
	path = bridgeTools/src/common
	url = https://github.com/VeChainDEXCode/Vechain-Asset-Bridge-Common.git
	branch = master
[submodule "test/common"]
	path = test/common
	url = https://github.com/VeChainDEXCode/Vechain-Asset-Bridge-Common.git
	branch = master
[submodule "apibackend/common"]
	path = apibackend/common
	url = https://github.com/VeChainDEXCode/Vechain-Asset-Bridge-Common.git
	branch = master
[submodule "apibackend/src/common"]
	path = apibackend/src/common
	url = https://github.com/VeChainDEXCode/Vechain-Asset-Bridge-Common.git
	branch = master
[submodule "apiserve/src/common"]
	path = apiserve/src/common
	url = https://github.com/VeChainDEXCode/Vechain-Asset-Bridge-Common.git
	branch = master