[submodule "validationnode/src/common"]
	path = validationnode/src/common
	url = git@github.com:mongelly/Vechain-Asset-Bridge-Common.git
	branch = 2.0
[submodule "bridgeTools/src/common"]
	path = bridgeTools/src/common
	url = git@github.com:mongelly/Vechain-Asset-Bridge-Common.git
	branch = 2.0
